<a href="https://colab.research.google.com/github/michel-wue/Seminar/blob/Tries_API_Data_extraction/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests as r
import pandas as pd
from pandas import json_normalize
import re
from google.colab import drive
import datetime
from os import times

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
play_data = pd.read_csv(
    '/content/drive/MyDrive/seminar/gameid_playid_data_2015_2022.csv'
)

In [9]:
game_data = pd.read_csv(
    '/content/drive/MyDrive/seminar/pre_data_elo.csv'
)
print(game_data)

            date     GameID  season  types  week  HomeTeam_ID  AwayTeam_ID  \
0     2015-09-11  400791485    2015      2     1           17           23
1     2015-09-13  400791541    2015      2     1            2           11
2     2015-09-13  400791489    2015      2     1            3            9
3     2015-09-13  400791550    2015      2     1           14           26
4     2015-09-13  400791497    2015      2     1           20            5
...          ...        ...     ...    ...   ...          ...          ...
2076  2023-01-08  401437957    2022      2    18           21           19
2077  2023-01-08  401437962    2022      2    18           25           22
2078  2023-01-08  401437963    2022      2    18           26           14
2079  2023-01-08  401437959    2022      2    18           28            6
2080  2023-01-09  401437952    2022      2    18            9            8

     Winner          Home_fullname Home_teamname  \
0      Home   New England Patriots            ne
1      Home          Buffalo Bills           buf
2      Away          Chicago Bears           chi
3      Home         St. Louis Rams           stl
4      Home          New York Jets           nyj
...     ...                    ...           ...
2076   Home    Philadelphia Eagles           phi
2077   Home    San Francisco 49ers            sf
2078   Home       Seattle Seahawks           sea
2079   Home  Washington Commanders           wsh
2080   Away      Green Bay Packers            gb

                                Home_elo_score_historie        Away_fullname  \
0     {'name': 'Ne', 'value': [{'x': 1960, 'y': 1300...  Pittsburgh Steelers
1     {'name': 'Buf', 'value': [{'x': 1960, 'y': 130...   Indianapolis Colts
2     {'name': 'Chi', 'value': [{'x': 1920, 'y': 136...    Green Bay Packers
3     {'name': 'Stl', 'value': [{'x': 1937, 'y': 136...     Seattle Seahawks
4     {'name': 'Nyj', 'value': [{'x': 1960, 'y': 130...     Cleveland Browns
...                                                 ...                  ...
2076  {'name': 'Phi', 'value': [{'x': 1933, 'y': 130...      New York Giants
2077  {'name': 'Sf', 'value': [{'x': 1946, 'y': 1300...    Arizona Cardinals
2078  {'name': 'Sea', 'value': [{'x': 1976, 'y': 130...       St. Louis Rams
2079  {'name': 'Wsh', 'value': [{'x': 1932, 'y': 130...       Dallas Cowboys
2080  {'name': 'Gb', 'value': [{'x': 1921, 'y': 1413...        Detroit Lions

     Away_teamname                            Away_elo_score_historie  \
0              pit  {'name': 'Pit', 'value': [{'x': 1933, 'y': 130...
1              ind  {'name': 'Ind', 'value': [{'x': 1953, 'y': 130...
2               gb  {'name': 'Gb', 'value': [{'x': 1921, 'y': 1413...
3              sea  {'name': 'Sea', 'value': [{'x': 1976, 'y': 130...
4              cle  {'name': 'Cle', 'value': [{'x': 1946, 'y': 130...
...            ...                                                ...
2076           nyg  {'name': 'Nyg', 'value': [{'x': 1925, 'y': 130...
2077           ari  {'name': 'Ari', 'value': [{'x': 1920, 'y': 149...
2078           stl  {'name': 'Stl', 'value': [{'x': 1937, 'y': 136...
2079           dal  {'name': 'Dal', 'value': [{'x': 1960, 'y': 130...
2080           det  {'name': 'Det', 'value': [{'x': 1930, 'y': 136...

      elo_score_away  elo_score_home  attendence
0           1562.771        1663.864    1.014436
1           1581.097        1534.055    0.981821
2           1601.039        1419.227    1.015317
3           1677.552        1476.945    0.784727
4           1421.821        1440.153    0.947394
...              ...             ...         ...
2076        1461.270        1597.040    1.000000
2077        1387.990        1693.130    1.045810
2078        1430.550        1501.610    0.998836
2079        1662.810        1438.050    0.928968
2080        1485.300        1557.210    0.964833

[2081 rows x 17 columns]

In [10]:
game_data.drop('Away_elo_score_historie', axis=1, inplace=True)

In [11]:
game_data.drop('Home_elo_score_historie', axis=1, inplace=True)

In [13]:
print(play_data)

           gameID         playID  awayScore  homeScore  scoreValue  \
0       400951620    40095162037          0          0           0
1       400951620    40095162052          0          0           0
2       400951620    40095162073          0          0           0
3       400951620   400951620102          0          0           0
4       400951620   400951620124          0          0           0
...           ...            ...        ...        ...         ...
356583  401437952  4014379523753         20         16           0
356584  401437952  4014379523764         20         16           0
356585  401437952  4014379523774         20         16           0
356586  401437952  4014379523812         20         16           0
356587  401437952  4014379523833         20         16           0

        statYardage  quarter            clock  type_id          type_text  \
0                 0        1  0 days 00:15:00     53.0            Kickoff
1                 4        1  0 days 00:15:00      5.0               Rush
2                 0        1  0 days 00:14:25      3.0  Pass Incompletion
3                 0        1  0 days 00:14:19      3.0  Pass Incompletion
4                33        1  0 days 00:14:14     52.0               Punt
...             ...      ...              ...      ...                ...
356583            2        4  0 days 00:02:00      5.0               Rush
356584            0        4  0 days 00:01:15     21.0            Timeout
356585            9        4  0 days 00:01:14     24.0     Pass Reception
356586           -1        4  0 days 00:00:33      5.0               Rush
356587            0        4  0 days 00:00:00     66.0        End of Game

       team_play  start_down  start_distance  start_yardlinie  \
0              4           0               0               35
1             34           1              10               75
2             34           2               6               71
3             34           3               6               71
4             34           4               6               71
...          ...         ...             ...              ...
356583         8           3               3               17
356584         8           4               1               15
356585         8           4               1               15
356586         8           1               6                6
356587    NoTeam           0               0                0

        start_yardsToEndzone  end_down  end_distance  end_yardlinie  \
0                         65         1            10             75
1                         75         2             6             71
2                         71         3             6             71
3                         71         4             6             71
4                         71         1            10             46
...                      ...       ...           ...            ...
356583                    17         4             1             15
356584                    15         4             1             15
356585                    15         1             6              6
356586                     6         2             7              7
356587                     0         2             7              7

        end_yardsToEndzone
0                       75
1                       71
2                       71
3                       71
4                       54
...                    ...
356583                  15
356584                  15
356585                   6
356586                   7
356587                   7

[356588 rows x 19 columns]

In [16]:
play_data.rename(columns={'gameID': 'GameID'},inplace=True)

In [17]:
full_data = pd.merge(play_data, game_data, how='left', on='GameID' )

In [20]:
full_data

,GameID,playID,awayScore,homeScore,scoreValue,statYardage,quarter,clock,type_id,type_text,...,HomeTeam_ID,AwayTeam_ID,Winner,Home_fullname,Home_teamname,Away_fullname,Away_teamname,elo_score_away,elo_score_home,attendence
0,400951620,40095162037,0,0,0,0,1,0 days 00:15:00,53.0,Kickoff,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
1,400951620,40095162052,0,0,0,4,1,0 days 00:15:00,5.0,Rush,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
2,400951620,40095162073,0,0,0,0,1,0 days 00:14:25,3.0,Pass Incompletion,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
3,400951620,400951620102,0,0,0,0,1,0 days 00:14:19,3.0,Pass Incompletion,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
4,400951620,400951620124,0,0,0,33,1,0 days 00:14:14,52.0,Punt,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356583,401437952,4014379523753,20,16,0,2,4,0 days 00:02:00,5.0,Rush,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356584,401437952,4014379523764,20,16,0,0,4,0 days 00:01:15,21.0,Timeout,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356585,401437952,4014379523774,20,16,0,9,4,0 days 00:01:14,24.0,Pass Reception,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356586,401437952,4014379523812,20,16,0,-1,4,0 days 00:00:33,5.0,Rush,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356587,401437952,4014379523833,20,16,0,0,4,0 days 00:00:00,66.0,End of Game,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833

Warning: Total number of columns (33) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (356588) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: Total number of columns (33) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (356588) exceeds max_rows (20000). Limiting to first (20000) rows.