<a href="https://colab.research.google.com/github/michel-wue/Seminar/blob/main/elo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests as r
from pandas import json_normalize
import re
import datetime

In [3]:
teams_name_elo = pd.DataFrame(columns=['team_id', 'team_fullname', 'team_name'])

year = '2015'
url = f'http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/seasons/{year}/teams'
response_teams = r.get(url)
teams_data = response_teams.json()
teams_df = json_normalize(teams_data['items'])
for index, row in teams_df.iterrows():
    api = row['$ref']
    team_name = r.get(api)
    teamname_json = team_name.json()
    team = teamname_json['abbreviation'].lower()
    full_name = teamname_json['displayName']
    data = [teamname_json['id'], full_name, team]
    teams_name_elo.loc[len(teams_name_elo)] = data
    # elo_api = f'https://projects.fivethirtyeight.com/complete-history-of-the-nfl/data/{team}.json'
    # elo = r.get(elo_api)
    # elo_json = elo.json()
    # print(elo_json)
    # print(teamname_json['id'])
    # print(re.search(r"teams/(\d+)", row['$ref']).group(1))
print(teams_name_elo)

   team_id         team_fullname team_name
0        1       Atlanta Falcons       atl
1        2         Buffalo Bills       buf
2        3         Chicago Bears       chi
3        4    Cincinnati Bengals       cin
4        5      Cleveland Browns       cle
5        6        Dallas Cowboys       dal
6        7        Denver Broncos       den
7        8         Detroit Lions       det
8        9     Green Bay Packers        gb
9       10      Tennessee Titans       ten
10      11    Indianapolis Colts       ind
11      12    Kansas City Chiefs        kc
12      13       Oakland Raiders       oak
13      14        St. Louis Rams       stl
14      15        Miami Dolphins       mia
15      16     Minnesota Vikings       min
16      17  New England Patriots        ne
17      18    New Orleans Saints        no
18      19       New York Giants       nyg
19      20         New York Jets       nyj
20      21   Philadelphia Eagles       phi
21      22     Arizona Cardinals       ari
22      23   Pittsburgh Steelers       pit
23      24    San Diego Chargers        sd
24      25   San Francisco 49ers        sf

In [4]:
elonumbers = []
for teams in teams_name_elo['team_name']:

    elo_api = f'https://projects.fivethirtyeight.com/complete-history-of-the-nfl/data/{teams}.json'
    elo = r.get(elo_api)
    elo_json = elo.json()
    elonumbers.append(elo_json)
teams_name_elo['elo_score_historie'] = elonumbers
print(teams_name_elo)

   team_id         team_fullname team_name  \
0        1       Atlanta Falcons       atl
1        2         Buffalo Bills       buf
2        3         Chicago Bears       chi
3        4    Cincinnati Bengals       cin
4        5      Cleveland Browns       cle
5        6        Dallas Cowboys       dal
6        7        Denver Broncos       den
7        8         Detroit Lions       det
8        9     Green Bay Packers        gb
9       10      Tennessee Titans       ten
10      11    Indianapolis Colts       ind
11      12    Kansas City Chiefs        kc
12      13       Oakland Raiders       oak
13      14        St. Louis Rams       stl
14      15        Miami Dolphins       mia
15      16     Minnesota Vikings       min
16      17  New England Patriots        ne
17      18    New Orleans Saints        no
18      19       New York Giants       nyg
19      20         New York Jets       nyj
20      21   Philadelphia Eagles       phi
21      22     Arizona Cardinals       ari
22      23   Pittsburgh Steelers       pit
23      24    San Diego Chargers        sd
24      25   San Francisco 49ers        sf

                                   elo_score_historie
0   {'name': 'Atl', 'value': [{'x': 1966, 'y': 130...
1   {'name': 'Buf', 'value': [{'x': 1960, 'y': 130...
2   {'name': 'Chi', 'value': [{'x': 1920, 'y': 136...
3   {'name': 'Cin', 'value': [{'x': 1968, 'y': 130...
4   {'name': 'Cle', 'value': [{'x': 1946, 'y': 130...
5   {'name': 'Dal', 'value': [{'x': 1960, 'y': 130...
6   {'name': 'Den', 'value': [{'x': 1960, 'y': 130...
7   {'name': 'Det', 'value': [{'x': 1930, 'y': 136...
8   {'name': 'Gb', 'value': [{'x': 1921, 'y': 1413...
9   {'name': 'Ten', 'value': [{'x': 1960, 'y': 130...
10  {'name': 'Ind', 'value': [{'x': 1953, 'y': 130...
11  {'name': 'Kc', 'value': [{'x': 1960, 'y': 1300...
12  {'name': 'Oak', 'value': [{'x': 1960, 'y': 130...
13  {'name': 'Stl', 'value': [{'x': 1937, 'y': 136...
14  {'name': 'Mia', 'value': [{'x': 1966, 'y': 130...
15  {'name': 'Min', 'value': [{'x': 1961, 'y': 130...
16  {'name': 'Ne', 'value': [{'x': 1960, 'y': 1300...
17  {'name': 'No', 'value': [{'x': 1967, 'y': 1300...
18  {'name': 'Nyg', 'value': [{'x': 1925, 'y': 130...
19  {'name': 'Nyj', 'value': [{'x': 1960, 'y': 130...
20  {'name': 'Phi', 'value': [{'x': 1933, 'y': 130...
21  {'name': 'Ari', 'value': [{'x': 1920, 'y': 149...
22  {'name': 'Pit', 'value': [{'x': 1933, 'y': 130...
23  {'name': 'Sd', 'value': [{'x': 1960, 'y': 1300...
24  {'name': 'Sf', 'value': [{'x': 1946, 'y': 1300...

In [ ]:
data_str = data['elo_score_historie'][0].replace("'", "\"")
json_obj = json.loads(data_str)
print(json_obj['value'][1])
home_elo = []
away_elo = []
for index, row in play_data.iterrows():
    for index, elo in data.iterrows():
        if elo['team_id'] == row['HomeTeam_ID']:
            home_elo.append(elo['elo_score_historie'])
        elif elo['team_id'] == row['AwayTeam_ID']:
            away_elo.append(elo['elo_score_historie'])