<a href="https://colab.research.google.com/github/michel-wue/Seminar/blob/Tries_API_Data_extraction/Preparing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests as r
import pandas as pd
from pandas import json_normalize
import re
from google.colab import drive
import datetime
from os import times

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
play_data = pd.read_csv(
    '/content/drive/MyDrive/seminar/gameid_playid_data_2015_2022.csv'
)

In [9]:
game_data = pd.read_csv(
    '/content/drive/MyDrive/seminar/pre_data_elo.csv'
)
print(game_data)

            date     GameID  season  types  week  HomeTeam_ID  AwayTeam_ID  \
0     2015-09-11  400791485    2015      2     1           17           23
1     2015-09-13  400791541    2015      2     1            2           11
2     2015-09-13  400791489    2015      2     1            3            9
3     2015-09-13  400791550    2015      2     1           14           26
4     2015-09-13  400791497    2015      2     1           20            5
...          ...        ...     ...    ...   ...          ...          ...
2076  2023-01-08  401437957    2022      2    18           21           19
2077  2023-01-08  401437962    2022      2    18           25           22
2078  2023-01-08  401437963    2022      2    18           26           14
2079  2023-01-08  401437959    2022      2    18           28            6
2080  2023-01-09  401437952    2022      2    18            9            8

     Winner          Home_fullname Home_teamname  \
0      Home   New England Patriots            ne
1      Home          Buffalo Bills           buf
2      Away          Chicago Bears           chi
3      Home         St. Louis Rams           stl
4      Home          New York Jets           nyj
...     ...                    ...           ...
2076   Home    Philadelphia Eagles           phi
2077   Home    San Francisco 49ers            sf
2078   Home       Seattle Seahawks           sea
2079   Home  Washington Commanders           wsh
2080   Away      Green Bay Packers            gb

                                Home_elo_score_historie        Away_fullname  \
0     {'name': 'Ne', 'value': [{'x': 1960, 'y': 1300...  Pittsburgh Steelers
1     {'name': 'Buf', 'value': [{'x': 1960, 'y': 130...   Indianapolis Colts
2     {'name': 'Chi', 'value': [{'x': 1920, 'y': 136...    Green Bay Packers
3     {'name': 'Stl', 'value': [{'x': 1937, 'y': 136...     Seattle Seahawks
4     {'name': 'Nyj', 'value': [{'x': 1960, 'y': 130...     Cleveland Browns
...                                                 ...                  ...
2076  {'name': 'Phi', 'value': [{'x': 1933, 'y': 130...      New York Giants
2077  {'name': 'Sf', 'value': [{'x': 1946, 'y': 1300...    Arizona Cardinals
2078  {'name': 'Sea', 'value': [{'x': 1976, 'y': 130...       St. Louis Rams
2079  {'name': 'Wsh', 'value': [{'x': 1932, 'y': 130...       Dallas Cowboys
2080  {'name': 'Gb', 'value': [{'x': 1921, 'y': 1413...        Detroit Lions

     Away_teamname                            Away_elo_score_historie  \
0              pit  {'name': 'Pit', 'value': [{'x': 1933, 'y': 130...
1              ind  {'name': 'Ind', 'value': [{'x': 1953, 'y': 130...
2               gb  {'name': 'Gb', 'value': [{'x': 1921, 'y': 1413...
3              sea  {'name': 'Sea', 'value': [{'x': 1976, 'y': 130...
4              cle  {'name': 'Cle', 'value': [{'x': 1946, 'y': 130...
...            ...                                                ...
2076           nyg  {'name': 'Nyg', 'value': [{'x': 1925, 'y': 130...
2077           ari  {'name': 'Ari', 'value': [{'x': 1920, 'y': 149...
2078           stl  {'name': 'Stl', 'value': [{'x': 1937, 'y': 136...
2079           dal  {'name': 'Dal', 'value': [{'x': 1960, 'y': 130...
2080           det  {'name': 'Det', 'value': [{'x': 1930, 'y': 136...

      elo_score_away  elo_score_home  attendence
0           1562.771        1663.864    1.014436
1           1581.097        1534.055    0.981821
2           1601.039        1419.227    1.015317
3           1677.552        1476.945    0.784727
4           1421.821        1440.153    0.947394
...              ...             ...         ...
2076        1461.270        1597.040    1.000000
2077        1387.990        1693.130    1.045810
2078        1430.550        1501.610    0.998836
2079        1662.810        1438.050    0.928968
2080        1485.300        1557.210    0.964833

[2081 rows x 17 columns]

In [10]:
game_data.drop('Away_elo_score_historie', axis=1, inplace=True)

In [11]:
game_data.drop('Home_elo_score_historie', axis=1, inplace=True)

In [13]:
print(play_data)

           gameID         playID  awayScore  homeScore  scoreValue  \
0       400951620    40095162037          0          0           0
1       400951620    40095162052          0          0           0
2       400951620    40095162073          0          0           0
3       400951620   400951620102          0          0           0
4       400951620   400951620124          0          0           0
...           ...            ...        ...        ...         ...
356583  401437952  4014379523753         20         16           0
356584  401437952  4014379523764         20         16           0
356585  401437952  4014379523774         20         16           0
356586  401437952  4014379523812         20         16           0
356587  401437952  4014379523833         20         16           0

        statYardage  quarter            clock  type_id          type_text  \
0                 0        1  0 days 00:15:00     53.0            Kickoff
1                 4        1  0 days 00:15:00      5.0               Rush
2                 0        1  0 days 00:14:25      3.0  Pass Incompletion
3                 0        1  0 days 00:14:19      3.0  Pass Incompletion
4                33        1  0 days 00:14:14     52.0               Punt
...             ...      ...              ...      ...                ...
356583            2        4  0 days 00:02:00      5.0               Rush
356584            0        4  0 days 00:01:15     21.0            Timeout
356585            9        4  0 days 00:01:14     24.0     Pass Reception
356586           -1        4  0 days 00:00:33      5.0               Rush
356587            0        4  0 days 00:00:00     66.0        End of Game

       team_play  start_down  start_distance  start_yardlinie  \
0              4           0               0               35
1             34           1              10               75
2             34           2               6               71
3             34           3               6               71
4             34           4               6               71
...          ...         ...             ...              ...
356583         8           3               3               17
356584         8           4               1               15
356585         8           4               1               15
356586         8           1               6                6
356587    NoTeam           0               0                0

        start_yardsToEndzone  end_down  end_distance  end_yardlinie  \
0                         65         1            10             75
1                         75         2             6             71
2                         71         3             6             71
3                         71         4             6             71
4                         71         1            10             46
...                      ...       ...           ...            ...
356583                    17         4             1             15
356584                    15         4             1             15
356585                    15         1             6              6
356586                     6         2             7              7
356587                     0         2             7              7

        end_yardsToEndzone
0                       75
1                       71
2                       71
3                       71
4                       54
...                    ...
356583                  15
356584                  15
356585                   6
356586                   7
356587                   7

[356588 rows x 19 columns]

In [16]:
play_data.rename(columns={'gameID': 'GameID'},inplace=True)

In [17]:
full_data = pd.merge(play_data, game_data, how='left', on='GameID' )

In [60]:
missing_rows = full_data[full_data.isnull().any(axis=1)]

# Display the rows with missing values
print(missing_rows)

           GameID         playID  awayScore  homeScore  scoreValue  \
3721    400791544  4007915443540         17         10           0
29056   400791679  4007916793624         13         10           0
65586   400874612  4008746122706         14         20           0
101054  400951752  4009517522936         17         17           0
144025  401030931   401030931785          0          7           0
147032  401030831  4010308312257         13         10           0
164540  401030954   401030954611          0          7           0
176685  401030856  4010308563241         19         21           0
177908  401127963   401127963965          0          6           0
201960  401127989   401127989330          7          0           0
222608  401220161   401220161627          0          0           0
227602  401220254  4012202542671         22          9           0
277388  401326405   401326405790          0          3           0
279709  401326412  4013264122580         12         10           0

        statYardage  quarter            clock  type_id  \
3721              0        4  0 days 00:08:10      NaN
29056             0        4  0 days 00:10:26      NaN
65586             0        3  0 days 00:05:43      NaN
101054            0        4  0 days 00:13:47      NaN
144025            0        1  0 days 00:00:00      NaN
147032            0        3  0 days 00:09:25      NaN
164540            0        1  0 days 00:04:57      NaN
176685            0        3  0 days 00:00:11      NaN
177908            0        1  0 days 00:02:22      NaN
201960            0        1  0 days 00:11:49      NaN
222608            0        1  0 days 00:06:24      NaN
227602            0        3  0 days 00:03:14      NaN
277388            0        1  0 days 00:03:53      NaN
279709            0        3  0 days 00:14:38      NaN

                      type_text  ... HomeTeam_ID  AwayTeam_ID  Winner  \
3721          FUMBLES (Aborted)  ...          28           15    Away
29056         FUMBLES (Aborted)  ...          33           14    Home
65586         FUMBLES (Aborted)  ...           5           20    Away
101054        FUMBLES (Aborted)  ...          12           28    Home
144025  Play Reviewed, Reversed  ...          19           18    Away
147032        FUMBLES (Aborted)  ...          34            6    Home
164540    Play Reviewed, Upheld  ...          15            2    Home
176685    Play Reviewed, Upheld  ...          26           22    Home
177908        FUMBLES (Aborted)  ...          20            2    Away
201960        FUMBLES (Aborted)  ...          23           14    Home
222608        FUMBLES (Aborted)  ...           4           24    Away
227602    Play Reviewed, Upheld  ...          19           25    Away
277388        FUMBLES (Aborted)  ...          13            3    Away
279709        FUMBLES (Aborted)  ...          29           16    Away

                Home_fullname  Home_teamname          Away_fullname  \
3721    Washington Commanders            wsh         Miami Dolphins
29056        Baltimore Ravens            bal         St. Louis Rams
65586        Cleveland Browns            cle          New York Jets
101054     Kansas City Chiefs             kc  Washington Commanders
144025        New York Giants            nyg     New Orleans Saints
147032         Houston Texans            hou         Dallas Cowboys
164540         Miami Dolphins            mia          Buffalo Bills
176685       Seattle Seahawks            sea      Arizona Cardinals
177908          New York Jets            nyj          Buffalo Bills
201960    Pittsburgh Steelers            pit         St. Louis Rams
222608     Cincinnati Bengals            cin     San Diego Chargers
227602        New York Giants            nyg    San Francisco 49ers
277388        Oakland Raiders            oak          Chicago Bears
279709      Carolina Panthers            car      Minnesota Vikings

        Away_teamname  elo_score_away  elo_score_home attendence
3721              mia        1483.514        1371.453   1.131550
29056             stl        1440.810        1443.640   1.005089
65586             nyj        1484.390        1309.370   1.000000
101054            wsh        1525.660        1677.410   1.022636
144025             no        1579.890        1409.560   0.948036
147032            dal        1525.160        1382.760   1.000181
164540            buf        1431.520        1419.070   1.005991
176685            ari        1326.060        1602.530   1.003637
177908            buf        1448.424        1384.966   0.951794
201960            stl        1589.860        1564.610   0.930219
222608             sd        1470.390        1382.627   0.000000
227602             sf        1598.640        1365.320   0.000000
277388            chi        1479.600        1517.540   0.909569
279709            min        1488.050        1480.000   0.977310

[14 rows x 33 columns]

In [47]:
print(full_data[full_data['playID']==4008746122706]['type_text'])

65586    (5:43) (No Huddle) J.McCown FUMBLES (Aborted) ...
Name: type_text, dtype: object

In [59]:
full_data.loc[279709,'type_text']='FUMBLES (Aborted)'

In [70]:
full_data['scoreValue'].unique()

array([0, 3, 6, 2])

In [62]:
full_data.to_csv(
    '/content/drive/MyDrive/seminar/full_data.csv',
    index=False
)

In [128]:
full_data = pd.read_csv(
    '/content/drive/MyDrive/seminar/full_data.csv'
)

In [129]:
full_data.drop('types',axis=1,inplace=True)

In [ ]:
full_data.drop('types',axis=1,inplace=True)

In [130]:
full_data

,GameID,playID,awayScore,homeScore,scoreValue,statYardage,quarter,clock,type_id,type_text,...,HomeTeam_ID,AwayTeam_ID,Winner,Home_fullname,Home_teamname,Away_fullname,Away_teamname,elo_score_away,elo_score_home,attendence
0,400951620,40095162037,0,0,0,0,1,0 days 00:15:00,53.0,Kickoff,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
1,400951620,40095162052,0,0,0,4,1,0 days 00:15:00,5.0,Rush,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
2,400951620,40095162073,0,0,0,0,1,0 days 00:14:25,3.0,Pass Incompletion,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
3,400951620,400951620102,0,0,0,0,1,0 days 00:14:19,3.0,Pass Incompletion,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
4,400951620,400951620124,0,0,0,33,1,0 days 00:14:14,52.0,Punt,...,4,34,Away,Cincinnati Bengals,cin,Houston Texans,hou,1451.21,1476.20,0.808090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356583,401437952,4014379523753,20,16,0,2,4,0 days 00:02:00,5.0,Rush,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356584,401437952,4014379523764,20,16,0,0,4,0 days 00:01:15,21.0,Timeout,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356585,401437952,4014379523774,20,16,0,9,4,0 days 00:01:14,24.0,Pass Reception,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356586,401437952,4014379523812,20,16,0,-1,4,0 days 00:00:33,5.0,Rush,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833
356587,401437952,4014379523833,20,16,0,0,4,0 days 00:00:00,66.0,End of Game,...,9,8,Away,Green Bay Packers,gb,Detroit Lions,det,1485.30,1557.21,0.964833

In [140]:
full_data

,GameID,playID,awayScore,homeScore,scoreValue,statYardage,quarter,clock,type_text,team_play,...,end_yardsToEndzone,date,season,week,Winner,Home_teamname,Away_teamname,elo_score_away,elo_score_home,attendence
0,400951620,40095162037,0,0,0,0,1,0 days 00:15:00,Kickoff,cin,...,75,2017-09-15,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
1,400951620,40095162052,0,0,0,4,1,0 days 00:15:00,Rush,hou,...,71,2017-09-15,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
2,400951620,40095162073,0,0,0,0,1,0 days 00:14:25,Pass Incompletion,hou,...,71,2017-09-15,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
3,400951620,400951620102,0,0,0,0,1,0 days 00:14:19,Pass Incompletion,hou,...,71,2017-09-15,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
4,400951620,400951620124,0,0,0,33,1,0 days 00:14:14,Punt,hou,...,54,2017-09-15,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356583,401437952,4014379523753,20,16,0,2,4,0 days 00:02:00,Rush,det,...,15,2023-01-09,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356584,401437952,4014379523764,20,16,0,0,4,0 days 00:01:15,Timeout,det,...,15,2023-01-09,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356585,401437952,4014379523774,20,16,0,9,4,0 days 00:01:14,Pass Reception,det,...,6,2023-01-09,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356586,401437952,4014379523812,20,16,0,-1,4,0 days 00:00:33,Rush,det,...,7,2023-01-09,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356587,401437952,4014379523833,20,16,0,0,4,0 days 00:00:00,End of Game,NoTeam,...,7,2023-01-09,2022,18,Away,gb,det,1485.30,1557.21,0.964833

In [131]:
for index, row in full_data.iterrows():
  if row['team_play']==str(row['HomeTeam_ID']):
    full_data.at[index, 'team_play']=str(row['Home_teamname'])
  elif row['team_play']==str(row['AwayTeam_ID']):
    full_data.at[index, 'team_play']=str(row['Away_teamname'])

In [132]:
full_data['team_play'].unique()

array(['cin', 'hou', 'NoTeam', 'ind', 'ari', 'phi', 'kc', 'no', 'ne',
       'min', 'pit', 'chi', 'tb', 'car', 'buf', 'jax', 'ten', 'bal',
       'cle', 'nyj', 'oak', 'mia', 'sd', 'den', 'dal', 'wsh', 'stl', 'sf',
       'sea', 'gb', 'atl', 'nyg', 'det'], dtype=object)

In [139]:
full_data.drop('Away_fullname',axis=1,inplace=True)

In [141]:
full_data.to_csv(
    '/content/drive/MyDrive/seminar/full_data2.csv',
    index=False
)

In [142]:
full_data = pd.read_csv('/content/drive/MyDrive/seminar/full_data2.csv')

In [144]:
full_data['clock'] = pd.to_timedelta(full_data['clock'])

full_data.drop('date',axis=1, inplace=True)

In [145]:
full_data

,GameID,playID,awayScore,homeScore,scoreValue,statYardage,quarter,clock,type_text,team_play,...,end_yardlinie,end_yardsToEndzone,season,week,Winner,Home_teamname,Away_teamname,elo_score_away,elo_score_home,attendence
0,400951620,40095162037,0,0,0,0,1,0 days 00:15:00,Kickoff,cin,...,75,75,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
1,400951620,40095162052,0,0,0,4,1,0 days 00:15:00,Rush,hou,...,71,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
2,400951620,40095162073,0,0,0,0,1,0 days 00:14:25,Pass Incompletion,hou,...,71,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
3,400951620,400951620102,0,0,0,0,1,0 days 00:14:19,Pass Incompletion,hou,...,71,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
4,400951620,400951620124,0,0,0,33,1,0 days 00:14:14,Punt,hou,...,46,54,2017,2,Away,cin,hou,1451.21,1476.20,0.808090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356583,401437952,4014379523753,20,16,0,2,4,0 days 00:02:00,Rush,det,...,15,15,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356584,401437952,4014379523764,20,16,0,0,4,0 days 00:01:15,Timeout,det,...,15,15,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356585,401437952,4014379523774,20,16,0,9,4,0 days 00:01:14,Pass Reception,det,...,6,6,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356586,401437952,4014379523812,20,16,0,-1,4,0 days 00:00:33,Rush,det,...,7,7,2022,18,Away,gb,det,1485.30,1557.21,0.964833
356587,401437952,4014379523833,20,16,0,0,4,0 days 00:00:00,End of Game,NoTeam,...,7,7,2022,18,Away,gb,det,1485.30,1557.21,0.964833

In [149]:
full_data['GameID'] = full_data['GameID'].astype(str)
full_data['playID'] = full_data['playID'].astype(str)
full_data['quarter'] = full_data['quarter'].astype(str)
full_data['start_down'] = full_data['start_down'].astype(str)
full_data['end_down'] = full_data['end_down'].astype(str)
full_data['season'] = full_data['season'].astype(str)
full_data['week'] = full_data['week'].astype(str)

In [150]:
numerical_cols = [cname for cname in full_data.columns if full_data[cname].dtype != "object"]
cardinality_cols = [cname for cname in full_data.columns if full_data[cname].dtype == "object"]
print(numerical_cols)
print(cardinality_cols)

['awayScore', 'homeScore', 'scoreValue', 'statYardage', 'clock', 'start_distance', 'start_yardlinie', 'start_yardsToEndzone', 'end_distance', 'end_yardlinie', 'end_yardsToEndzone', 'elo_score_away', 'elo_score_home', 'attendence']
['GameID', 'playID', 'quarter', 'type_text', 'team_play', 'start_down', 'end_down', 'season', 'week', 'Winner', 'Home_teamname', 'Away_teamname']

,GameID,playID,awayScore,homeScore,scoreValue,statYardage,quarter,clock,type_text,team_play,...,end_yardsToEndzone,season,week,Winner,Home_teamname,Away_teamname,elo_score_away,elo_score_home,attendence,duration
0,400951620,40095162037,0,0,0,0,1,0 days 00:15:00,Kickoff,cin,...,75,2017,2,Away,cin,hou,1451.21,1476.20,0.808090,15.000000
1,400951620,40095162052,0,0,0,4,1,0 days 00:15:00,Rush,hou,...,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090,15.000000
2,400951620,40095162073,0,0,0,0,1,0 days 00:14:25,Pass Incompletion,hou,...,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090,14.416667
3,400951620,400951620102,0,0,0,0,1,0 days 00:14:19,Pass Incompletion,hou,...,71,2017,2,Away,cin,hou,1451.21,1476.20,0.808090,14.316667
4,400951620,400951620124,0,0,0,33,1,0 days 00:14:14,Punt,hou,...,54,2017,2,Away,cin,hou,1451.21,1476.20,0.808090,14.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356583,401437952,4014379523753,20,16,0,2,4,0 days 00:02:00,Rush,det,...,15,2022,18,Away,gb,det,1485.30,1557.21,0.964833,2.000000
356584,401437952,4014379523764,20,16,0,0,4,0 days 00:01:15,Timeout,det,...,15,2022,18,Away,gb,det,1485.30,1557.21,0.964833,1.250000
356585,401437952,4014379523774,20,16,0,9,4,0 days 00:01:14,Pass Reception,det,...,6,2022,18,Away,gb,det,1485.30,1557.21,0.964833,1.233333
356586,401437952,4014379523812,20,16,0,-1,4,0 days 00:00:33,Rush,det,...,7,2022,18,Away,gb,det,1485.30,1557.21,0.964833,0.550000
356587,401437952,4014379523833,20,16,0,0,4,0 days 00:00:00,End of Game,NoTeam,...,7,2022,18,Away,gb,det,1485.30,1557.21,0.964833,0.000000

In [151]:
full_data.to_csv(
    '/content/drive/MyDrive/seminar/full_data3.csv',
    index=False
)